*{
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}


#inp{
    width: 200px;
    height: 40px;
    font-size: 15px;
    border: 1px solid black;
    display: block;
    margin: auto;
    padding: 0 10px;
    background-color: rgb(221, 221, 221);
    transition:  width 0.5s;   
}


#inp:hover{
    width: 400px;
    background-color: rgb(255, 255, 255);
}


#inp:focus{
    width: 400px;
    background-color: rgb(255, 255, 255);
}


::placeholder{
color: rgb(0, 0, 0);
opacity: 0.3;
}


.button-boxes{
    width: 400px;
    margin: 5px auto;
    text-align: center; 
}

button:first-child{
    display: block;
    margin: 10px auto;
}

button{
    margin: auto;
    width: 98px;
    cursor: pointer;
    padding: 5px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    border: 1px solid black;
}


#content{
    margin: 50px auto;
    min-width: 500px;
}


#table-list{
    position: relative;
    margin: auto;
    min-width: 500px;
    border: 1px solid black;
    
}


td , th{
    border: 1px solid black;
    height: 50px;
    text-align: center;
    padding: 10px;
    padding-left: 50px;
    padding-right: 70px;
}

th{
    background-color: rgb(219, 219, 219);
}

td{
    position: relative;
}

.removebtn{
    
    position: absolute;
    left:13px;
    height: 22px;
    width: 22px;
    background-color: transparent;
    color:rgb(0, 0, 0);
    font-size: 18px;
    border-radius: 50%;
}

.removebtn:hover{
    transition: 0.4s;
    background-color: rgb(252, 116, 66);
    color: white;

}

.inpcheckbox{
    position: absolute;
    top: 10px;
    right:12px;
    height: 17px;
    width: 17px;
}

.inpcheckbox:checked{
    background-color: transparent;
}

.editicon{
    position: absolute;
    top: 10px;
    right: 42px;
    height: 17px;
    width: 17px;
}

.editicon:hover{
    box-shadow: 2px 2px 2px 2px rgb(141, 139, 139);
}
